* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fallTime: 2.9s;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* background: linear-gradient(135deg, #87CEEB, #B0E0E6, #ADD8E6);  */

}
.gameCont {
  margin-top: 30px;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  background-image: url("./background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  flex-direction: column;
}

.startButton {
  /* position: absolute; */
  font-size: 80px;
  font-family: fantasy;
  background-color: yellow;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sideBar{
  margin-top: 30px;
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px 0px;
}

/* Fruit */
.fruit {
  display: block;
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 75px;
  background-size: cover;
  z-index: 1;
  top: -100px;
}
.hidden {
  display: none;
}
.animate {
  animation: float var(--fallTime) cubic-bezier(0.22, 0.01, 0.7, 0.24);
}
.animate1 {
  animation: float1 var(--fallTime1) cubic-bezier(0.22, 0.01, 0.7, 0.24);
}
.apple {
  background-image: url("./apple.png");
  /* box-shadow: 0 0 15px rgba(231, 76, 60, 0.7); */
}
.strawberry {
  background-image: url("./strawberry.png");
  /* box-shadow: 0 0 15px rgba(231, 76, 60, 0.7); */
}
.banana {
  background-image: url("./banana.png");
  /* box-shadow: 0 0 15px rgba(231, 76, 60, 0.7); */
}
.cherry {
  background-image: url("./cherry.png");

}
@keyframes float {
  0% {
    top: 0px;
  }
  100% {
    display: none;
    top: 900px;
  }
}
@keyframes float1 {
  0% {
    top: 0px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 900px;
  }
}

/*Basket*/
.basket {
  width: 75px;
  height: 105px;
  top: 1030px;
  /* top: 930px; */
  position: absolute;
  object-fit: contain;
  transition: left 0.1s linear;
}
.basket img {
  width: 100%;
  height: 100%;
}

/* Score & Live */
.pointer {
  width: 300px;
  height: 150px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  font-size: 200%;
  border-radius: 15px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);

}

.liveCont {
  width: 300px;
  height: 150px;
  border-radius: 15px;
  color: #333;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: fantasy;
  gap: 5px;
}
.liveIcon {
  width: 50px;
  height: 50px;
  background-image: url("./heart.png");
  /* box-shadow: 0 0 10px rgba(255, 59, 48, 0.6); */

}
.difficultySelector {
  margin-top: 20px;
  text-align: center;
  
}

h3{
  font-family: fantasy;
  color: #333
}

.difficultySelector select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  color: #333;
  transition: border 0.3s ease;
  border: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  font-family: fantasy;

}
.pooImage {
  background-image: url("./poo.png");
}
/* // basket animation when score */

.gameOverMessage {
  position: absolute;
  font-size: 60px;
  font-family: fantasy;
  background-color: yellow;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.basket.shake {
  animation: shake 0.5s ease-in-out;
}

